exeIcon ICON "GBEmuIcon.ico"
1 VERSIONINFO
FILEVERSION     0,0,0,1
PRODUCTVERSION  0,0,0,2
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Daniel Bokser"
      VALUE "FileDescription", "GBEmu"
      VALUE "FileVersion", "0.0.1"
      VALUE "InternalName", "gbemu"
      VALUE "LegalCopyright", "Daniel Bokser"
      VALUE "OriginalFilename", "gbemu.exe"
      VALUE "ProductName", "GBEmu"
      VALUE "ProductVersion", "@GBEmuVersion@"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
